<body style="padding: 0; margin: 0;">
    <div style="width: 100%; padding: 3rem; background-color: #0085A1">
        <h1 style="text-align: center;font-size: 3rem; color: white">Benvenuto in Online Recipes!</h1>
    </div>
    <div style="padding-left: 5%; margin-top: 10px">
        <h2>Benvenuto {!nome!}</h2>
        <p>Ecco un riepilogo del tuo account</p>
        <ul style="list-style-type: none; color: gray">
            <li>Email: <span style="color: black; font-size: 1.25em">{!email!}</span></li>
            <li>Nome: <span style="color: black; font-size: 1.25em">{!nome!}</span></li>
            <li>Cognome: <span style="color: black; font-size: 1.25em">{!cognome!}</span></li>
        </ul>
        <p style="font-size: 1.25em;">Ci vediamo online! <a href="{!link!}">Vai alla homepage</a></p>
    </div>
    
</body>