.grid-recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    transition: .5s all ease;
    height: auto
}

@media (max-width: 992.98px) {
    .grid-recipes{
        grid-template-columns: 1fr;
        padding-left: 7vw;
        padding-right: 7vw;
        /*grid-column-gap: 10vw;*/
    }
}

@media (min-width: 1600px) {
    .grid-recipes {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (min-width: 1900px) {
    .grid-recipes{
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

.container-recipe{
    width: 100%;
    height: 600px;
    /*background-color: gray;*/
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 1)*/
}

@media (min-width: 1600px) {
    .container-recipe{
        height: 900px
    }
}

.container-recipe .my-card{
    width: 95%;
     height: 90%;
     transition: .5s ease-in-out
}

.container-recipe .my-card:hover{
    width: 100%;
    height: 93%;
    box-shadow: 0px 10px 3px -3px rgba(0,0,0, .60);
}

.container-recipe .card .card-img-top{
    height: 40%
}

.my-card .card-footer, .my-card .recipe-info{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-shrink: 1;

}

.my-card .recipe-info{
    font-size: .80rem;
    color: gray;
}

.my-card .recipe-info div{
    width: 33%;
    text-transform: capitalize;
}

.my-card .recipe-info div div{
    width: 100%;

}

.my-card .recipe-info div:nth-child(2) div{
    text-align: center;
}

.my-card .recipe-info div:nth-child(3) div{
    text-align: end;
}

.my-card .card-text{
    height: 70%;
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;

}
.my-card .card-text p{
    overflow-wrap: break-word;
    padding: 4px;
}

.my-card .blur{
    position: absolute;
    bottom: 0%;
    height: 20%;
    width: 100%;
    z-index: 10;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(255,255,255,0) 100%);
}

/*.my-card:hover .blur {
    height: 20%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,0) 100%);
}*/

.my-card .continue-reading {
    position: absolute;
    bottom: 5%;
    font-size: .75rem;
    right: 2%;
    background-color: white;
    padding: 1% 2%;
    z-index: 11;
}